body {
  font-family: 'Rubik', sans-serif;
}

.navbar-dark-blue {
  background-color: #0137B4;
}

.table-dark-blue {
  background-color: #0137B4;
  color: white;
}

.text-dark-blue {
  color: #0137B4;
}

.bg-dark-blue {
  background-color: #0137B4;
}

.btn-link.text-dark-blue:hover {
  color: #0056b3;
}

footer {
  font-size: 0.9rem;
}
